.block-father {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #404b6d;
  min-height: 90px;
  border: 2px solid black;
  padding: 15px;
}
.children {
  background-color: #ba2c73;
  border: 1px solid rgb(36, 36, 18);
  width: 75px;
  height: 50px;
}
.children-1 {
  display: inline-flex;
  justify-content: space-between;
  width: 450px;
  height: auto;
}
.box {
  background-color: #ba2c73;
  width: 70px;
  height: 50px;
  border-radius: 14px;
  border: 1px solid black;
}

.warp {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.block-1 {
  background-color: #404b6d;
  width: 750px;
  height: 250px;
  border: 1px solid black;
  margin-top: 5px;
}

.block-2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 250px;
  background-color: #404b6d;
  height: 150px;
  border: 2px solid black;
  margin-top: 5px;
}

.block-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.box-1 {
  margin: 3px;
  background-color: #ba2c73;
  width: 210px;
  height: 30px;
  border: 1px solid #000000;
}

.main-conteiner {
  background-color: #191d32;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .background {
    width: 100wh;
  }
  .children {
    background-color: #b1b695;
    border-radius: 56%;
    width: 50%;
    height: 50px;
  }
  .children-1 {
    flex-direction: column;
    width: 100%;
  }
  .block-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box {
    width: 100%;
    margin: 5px;
  }
  .block-father {
    flex-direction: column;
  }
  .block-1 {
    width: 100%;
    border-radius: 4%;
  }
  .box-1 {
    width: 100%;
  }
}
